<div class="container">
  <!-- to show the rest problem -->
  <button (click)="rest()">Rest</button>
  <div class="search">
    <img src="search.png" alt="" />
    <input
      type="text"
      id="Search"
      placeholder="Search Contacts"
      (keyup)="search_v2()"
      [(ngModel)]="searchValue"
    />
    <button class="search-btn" (click)="clearSearchValue()">Clear</button>
    <button class="add-new-deal-btn" (click)="deal_popup()">Add New Deal</button>
  </div>
  <!-- --------------search result area -->
  @if (showSearchResultCard) {
    <div class="search-result">
      @for (value of searchResultValue(); track $index) {
        <app-user-card class="user-card" [userCardData]="value" class="tests" />
      }
    </div>
  }
  @if (!errorMessage() && !loading()) {
    <div class="deals-main-cards" cdkDropListGroup>
      <div class="column-container">
        <h3>Potential Value</h3>
        <div
          class="column-content"
          cdkDropList
          [cdkDropListData]="services.Potential_Value()"
          (cdkDropListDropped)="services.drop($event)"
        >
          @for (value of services.Potential_Value(); track $index) {
            <app-user-card
              [userCardData]="value"
              status="Potential Value"
              cdkDrag
              class="app-user-card"
            />
            <span class="space"></span>
          }
        </div>
      </div>
      <div class="column-container">
        <h3>Focus</h3>
        <div
          class="column-content"
          cdkDropList
          [cdkDropListData]="services.Focus()"
          (cdkDropListDropped)="services.drop($event)"
        >
          @for (value of services.Focus(); track $index) {
            <app-user-card [userCardData]="value" status="Focus" cdkDrag class="app-user-card" />
            <span class="space"></span>
          }
        </div>
      </div>
      <div
        class="column-container"
        cdkDropList
        [cdkDropListData]="services.Contact_Made()"
        (cdkDropListDropped)="services.drop($event)"
      >
        <h3>Contact Made</h3>
        <div class="column-content">
          @for (value of services.Contact_Made(); track $index) {
            <app-user-card
              [userCardData]="value"
              status="Contact Made"
              cdkDrag
              class="app-user-card"
            />
            <span class="space"></span>
          }
        </div>
      </div>
      <div class="column-container">
        <h3>Offer Sent</h3>
        <div
          class="column-content"
          cdkDropList
          [cdkDropListData]="services.Offer_Sent()"
          (cdkDropListDropped)="services.drop($event)"
        >
          @for (value of services.Offer_Sent(); track $index) {
            <app-user-card
              [userCardData]="value"
              status="Offer Sent"
              cdkDrag
              class="app-user-card"
            />
            <span class="space"></span>
          }
        </div>
      </div>
      <div class="column-container">
        <h3>Getting Ready</h3>
        <div
          class="column-content"
          cdkDropList
          [cdkDropListData]="services.Getting_Ready()"
          (cdkDropListDropped)="services.drop($event)"
        >
          @for (value of services.Getting_Ready(); track $index) {
            <app-user-card
              [userCardData]="value"
              status="Getting Ready"
              cdkDrag
              class="app-user-card"
            />
            <span class="space"></span>
          }
        </div>
      </div>
    </div>
  }
  @if (errorMessage()) {
    <h2 class="error">Check your internet connection...</h2>
  }
  @if (loading() && !errorMessage()) {
    <h2 class="error">Loading...</h2>
  }
</div>
<!-- new deal popup -->
@if (showNewDealPopup) {
  <app-new-deal-popup #child (close)="close_deal_popup()" />
}
